<title>Login</title>
<h1>Login Page</h1>
<form action="/Home/Login" method="post"> 
    <input required type="text" name="userName" placeholder="Username"/>
    <input required type="password" name="password"placeholder="Password"/>
    <div><button type="submit">Login</button></div>
    </form>
<div>
  <button><a style="text-decoration:none" href="/Home/Register">Register</a></button> 
</div>