<h1>Login Page</h1>
<form action="/Home/Login" method="post"> 
    <input required type="text" name="userName" value=""/>
    <input required type="text" name="password" value=""/>
    <button type="submit">Login</button>
    </form>
<div>
  <button><a href="/Home/Register">Register</a></button> 
  
</div>