<h1>Register Page</h1>
<form action="/Home/Register" method="post">
    <input required type="text" name="userName" value="" />
    <input required type="text" name="password" value="" />
    <button type="submit">Register</button>
</form>
<div>
    <button><a href="/Home/Login">Back to Login</a></button>

</div>