<title>Register</title>
<h1>Register Page</h1>
<form action="/Home/Register" method="post">
    <input required type="text" name="userName" value="" placeholder="Ener username"/>
    <input required type="password" name="password" value="" placeholder="Enter password" />
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<div>
    <button><a style="text-decoration:none" href="/Home/Login">Back to Login</a></button>

</div>